.main-page {
  position: relative;
}
.main-page__basic {
  position: absolute;
  left: 54px;
  bottom: 66px;
}
.main-page__img img {
  width: 100%;
}
.main-sneakers__img img{
  width: 100%;
}
.main-page__title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.5px;
  margin-bottom: 11px;
}
.main-page__subtitle {
  color: white;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.shop-button {
  color: rgba(33, 42, 47, 1);
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 17px 0 15px;
  line-height: 16px;
  letter-spacing: 2px;
  min-width: 180px;
  border: none;
  text-transform: uppercase;
}
.shop-button:not(:last-child) {
  margin-right: 21px;
}
