/**
 * Fonts
*/

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular400.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium500.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold700.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black900.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo-Italic 400.ttf");
  font-weight: 400;
}
